language: python
python:
  - "3.5"
  - "3.6"
os: linux

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.hpolib/
  pip: true

sudo: false

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log


before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - if [[ `which conda` ]]; then echo 'Conda installation successful'; else exit 1; fi
  - conda update --yes conda
  - conda create -n testenv --yes python=$TRAVIS_PYTHON_VERSION pip wheel nose gxx_linux-64 gcc_linux-64 swig gfortran_linux-64
  - source activate testenv

install:
  - pip install coverage pep8 codecov
  # Temporarily pin the numpy version for travis-ci
  - pip install "numpy<1.15"
  # Inverse grep allows comments in requirements file
  #- cat requirements.txt | grep -v '#' | xargs -n 1 -L 1 pip install
  #- cat optional-requirements.txt | grep -v '#' | xargs -n 1 -L 1 pip install
  - pip install -r requirements.txt
  - pip install -r optional-requirements.txt
  - python setup.py install

# command to run tests, e.g. python setup.py test
script:
  - nosetests -sv --with-coverage --cover-package=hpolib
after_success:
  - codecov
