configparser
cython
unittest2
nose
setuptools

six

numpy>=1.9.0
scipy>=0.14.1
matplotlib

# We need lasagne 0.2dev1 + corresponding theano version
theano==0.8.2
git+https://github.com/Lasagne/Lasagne.git@master

scikit-learn>=0.18.1,<0.19.0
ConfigSpace>=0.3.3

requests
xmltodict
liac-arff>=2.1.1
git+https://github.com/openml/openml-python@develop
